<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ITunesAudioPlayerApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E6111D361D45D2EC00FBD929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6111D4A1D45D2EC00FBD929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6111D551D45D2EC00FBD929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
